.cart-widget {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  .cart-counter {
    background-color: #f79300;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
  }
}
