// Variables globales
$primary-color: #0F2546;
$primary-dark: #2980b9;

$secondary-color: #333;
$text-color: #F0F4EF;
$font-family-primary: "Nova Flat", system-ui;
$font-weight-bold: 600;

$dark-text: #2c3e50;

$card-bg: white;
$stat-bg: #e8f4f8;
$effect-bg: #f8f9fa;
$border-color: #ddd;
$hover-bg: #f0f8ff;
$light-text: #7f8c8d;

$success-color: #2ecc71;
$success-dark: #27ae60;
$danger-color: #e74c3c;
$danger-dark: #c0392b;

$border-color: #ddd;
